
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h4 class="text-danger" style="margin: 0; padding: 10px 0 10px 5px ">New Payment</h4>
    <div id="new-payment-form" class="form-horizontal" style="background-color: @ViewBag.ItemDetailBackgroundColor; padding: 10px 20px 20px 20px">
        @* #fffcf0 = yellow 3 *@

        <div class="form-group form-group-payment" style="margin-bottom: 5px">
            <p class="payment-label" style="margin-left: 15px">Payment Date</p>
            <div class="col-md-6">
                <input name="PaymentDate"
                       type="date"
                       class="form-control input-sm date-input"
                       onchange="showPaymentSaveBtn(event)" />
            </div>
        </div>

        <div class="form-group form-group-payment" style="margin-bottom: 5px">
            <p class="payment-label" style="margin-left: 15px; margin-bottom: 0">Amount</p>
            <div class="col-md-6">
                <input name="Amount"
                       type="text"
                       class="form-control input-sm new-payment-input"
                       onkeyup="showPaymentSaveBtn(event)"
                       onchange="showPaymentSaveBtn(event)" />
            </div>
        </div>

        <div id="payment-mode-group" class="form-group" style="margin-left: -30px">
            <div class="col-md-10 hidden">
                <input name="PaymentMode" readonly type="text" value="cash" class="form-control input-sm new-payment-input" />
            </div>

            <div class="col-md-10" style="margin-top: 0">
                <div>
                    <p class="payment-label" style="margin-left: 15px">Payment Mode</p>
                </div>
                <div class="border border-gray-lighter" style="width: 80%; margin-left: 30px; padding: 2px 0 10px 0">
                    <label class="radio" style="padding-left: 40px">
                        <input type="radio" name="optradio" checked title="cash" onclick="setPaymentMode(event)">Cash
                    </label>
                    <label class="radio" style="padding-left: 40px">
                        <input type="radio" name="optradio" title="credit card" onclick="setPaymentMode(event)">Credit/Debit Card
                    </label>
                    <label class="radio" style="padding-left: 40px">
                        <input type="radio" name="optradio" title="check" onclick="setPaymentMode(event)">Check
                    </label>
                </div>
            </div>
        </div>

        <div id="creditcard-group" class="hidden">
            <div class="form-group form-group-payment" style="margin-bottom: 5px">
                <p class="payment-label" style="margin-left: 15px">Card Holder</p>
                <div class="col-md-11">
                    <input name="CreditCardHolder"
                           type="text"
                           class="form-control input-sm new-payment-input"
                           onkeyup="showPaymentSaveBtn(event)"
                           onchange="showPaymentSaveBtn(event)" />
                </div>
            </div>

            <div class="form-group form-group-payment" style="margin-bottom: 5px">
                <p class="payment-label" style="margin-left: 15px">Card Name</p>
                <div class="col-md-6">
                    <input name="CreditCardName"
                           type="text"
                           class="form-control input-sm new-payment-input"
                           onkeyup="showPaymentSaveBtn(event)"
                           onchange="showPaymentSaveBtn(event)" />
                </div>
            </div>

            <div class="form-group form-group-payment">
                <p class="payment-label" style="margin-left: 15px">Card Number</p>
                <div class="col-md-11">
                    <input name="CreditCardNo"
                           type="text"
                           class="form-control input-sm new-payment-input"
                           onkeyup="showPaymentSaveBtn(event)"
                           onchange="showPaymentSaveBtn(event)" />
                </div>
            </div>
            <div>
                <div class="form-group form-group-payment col-md-12" style="padding: 0; margin: 10px 0 5px 0">
                    <div class="pull-left" style="width: 25%; display: inline-block; margin: 5px">
                        <p class="payment-label" style="margin-left: 0">Exp Month</p>
                        <div>
                            <input name="CreditCardExpMonth"
                                   type="number"
                                   class="form-control input-sm new-payment-input"
                                   style="padding-right: 5px; padding-left: 5px; margin: 0"
                                   onkeyup="showPaymentSaveBtn(event)"
                                   onchange="showPaymentSaveBtn(event)" />
                        </div>
                    </div>
                    <div class="pull-left" style="width: 30%; display: inline-block; margin: 5px">
                        <p class="payment-label" style="margin-left: 0">Exp Year</p>
                        <div>
                            <input name="CreditCardExpYear"
                                   type="number"
                                   class="form-control input-sm new-payment-input"
                                   style="padding-right: 5px; padding-left: 5px; margin: 0"
                                   onkeyup="showPaymentSaveBtn(event)"
                                   onchange="showPaymentSaveBtn(event)" />
                        </div>
                    </div>
                    <div class="pull-left" style="width: 30%; display: inline-block; margin: 5px">
                        <p class="payment-label" style="margin-left: 0">Sec Code</p>
                        <div>
                            <input name="CreditCardCVV"
                                   type="text"
                                   class="form-control input-sm new-payment-input"
                                   style="margin: 0"
                                   onkeyup="showPaymentSaveBtn(event)"
                                   onchange="showPaymentSaveBtn(event)" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="check-group" class="hidden">
            <div class="form-group form-group-payment">
                <p class="payment-label" style="margin-left: 15px">Check Number</p>
                <div class="col-md-10">
                    <input name="CheckNo"
                           type="text"
                           class="form-control input-sm new-payment-input"
                           onkeyup="showPaymentSaveBtn(event)"
                           onchange="showPaymentSaveBtn(event)" />
                </div>
            </div>

            <div class="form-group form-group-payment">
                <p class="payment-label" style="margin-left: 15px">Issued By</p>
                <div class="col-md-10">
                    <input name="CheckWriter"
                           type="text"
                           class="form-control input-sm new-payment-input"
                           onkeyup="showPaymentSaveBtn(event)"
                           onchange="showPaymentSaveBtn(event)" />
                </div>
            </div>

            <div class="form-group form-group-payment">
                <p class="payment-label" style="margin-left: 15px">Check Image</p>
                <div class="col-md-10">
                    <input name="CheckImage"
                           type="text"
                           class="form-control input-sm new-payment-input"
                           onchange="showPaymentSaveBtn(event)" />
                </div>
            </div>
        </div>

        <div class="form-group hidden">
            <p class="payment-label">Receivable Source</p>
            <div class="col-md-10" style="padding-top: 6px">
                <span name="ReceivableSource"></span>
            </div>
        </div>

        <div class="form-group hidden">
            <p class="payment-label">Source Id</p>
            <div class="col-md-10" style="padding-top: 6px">
                <span name="ReceivableSourceId"></span>
            </div>
        </div>

        <div class="form-group hidden">
            <p class="payment-label">Created At</p>
            <div class="col-md-10" style="padding-top: 6px">
                <span name="CreatedAt"></span>
            </div>
        </div>

        <div class="form-group hidden">
            <p class="payment-label">Id</p>
            <div class="col-md-10" style="padding-top: 6px">
                <span name="Id"></span>
            </div>
        </div>

        <div class="form-group" style="margin:  15px 0 0 0; padding: 0">
            <div class="col-md-10">
                <button type="button"
                        name="save-payment"
                        class="btn btn-sm btn-default btn-success-text margin-bottom-3 hidden"
                        onclick="saveSubformData(event, 'AddPayment', getUIPaymentData, clearNewPaymentInput)">
                    <strong>Save</strong>
                    <span style="margin-left: 5px" class="glyphicon glyphicon-edit"></span>
                </button>
            </div>
        </div>
    </div>
}