
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <script type="text/javascript">
        /////////////////////////////////////////////////////////////////////////////////////////////

        function setPaymentMode(event) {
            function getNewPaymentForm(element) {
                var parent = element.parentNode;
                if (parent.id === "new-payment-form") {
                    result = parent;
                    return parent;
                }
                else {
                    return getNewPaymentForm(parent);
                }
            }
            var btn = event.target;
            var paymentForm = getNewPaymentForm(btn);
            var optSelected = btn.title;

            var paymentModeInput = paymentForm.querySelector("[name='PaymentMode']");
            paymentModeInput.value = optSelected;

            var creditcardGrp = paymentForm.querySelector("[id='creditcard-group']");
            var checkGrp = paymentForm.querySelector("[id='check-group']");

            switch (optSelected) {
                case "credit card":
                    creditcardGrp.classList.remove("hidden");
                    checkGrp.classList.add("hidden");
                    break;
                case "check":
                    creditcardGrp.classList.add("hidden");
                    checkGrp.classList.remove("hidden");
                    break;
                default:
                    creditcardGrp.classList.add("hidden");
                    checkGrp.classList.add("hidden");
                    return;
            }
            showPaymentSaveBtn(event);
        }
        
        /////////////////////////////////////////////////////////////////////////////////////////////

        function showPaymentSaveBtn(event) {
            function getParentRow(element) {
                var parent = element.parentNode;
                if (parent.nodeName.toLowerCase() === "tr") {
                    result = parent;
                    return parent;
                }
                else {
                    return getParentRow(parent);
                }
            }
            var tableRow = getParentRow(event.target);            

            var btn = tableRow.querySelector("[name='save-payment']");
            btn.classList.remove("hidden");
        }
        
        /////////////////////////////////////////////////////////////////////////////////////////////
    </script>
    <div id="new-payment-form" class="form-horizontal">
        <h4 style="margin-top: 15px">New Payment</h4>
        <hr style="margin: 5px" />

        <div class="form-group">
            <p class="payment-label">Payment Date</p>
            <div class="col-md-10">
                <input name="PaymentDate" type="date" class="form-control input-sm date-input" onchange="showPaymentSaveBtn(event)" />
            </div>
        </div>

        <div class="form-group">
            <p class="payment-label">Amount</p>
            <div class="col-md-10">
                <input name="Amount" type="text" class="form-control input-sm payment-input" onkeyup="showPaymentSaveBtn(event)" onchange="showPaymentSaveBtn(event)" />
            </div>
        </div>

        <div id="payment-mode-group" class="form-group" style="margin-left: -30px">
            <div class="col-md-10 hidden">
                <input name="PaymentMode" readonly type="text" class="form-control input-sm payment-input" />
            </div>

            <div class="col-md-10" style="margin-top: 0">
                <div>
                    <p class="payment-label">Payment Mode</p>
                </div>
                <div class="border border-gray" style="width: 80%; margin-left: 30px; padding: 2px 0 10px 0">
                    <label class="radio" style="padding-left: 40px">
                        <input type="radio" name="optradio" checked title="cash" onclick="setPaymentMode(event)">Cash
                    </label>
                    <label class="radio" style="padding-left: 40px">
                        <input type="radio" name="optradio" title="credit card" onclick="setPaymentMode(event)">Credit/Debit Card
                    </label>
                    <label class="radio" style="padding-left: 40px">
                        <input type="radio" name="optradio" title="check" onclick="setPaymentMode(event)">Check
                    </label>
                </div>
            </div>
        </div>

        <div id="creditcard-group" class="hidden" style="transform: translateY(-px)">
            <div class="form-group">
                <p class="payment-label">Card Holder</p>
                <div class="col-md-10">
                    <input name="CreditCardHolder" type="text" class="form-control input-sm payment-input" onkeyup="showPaymentSaveBtn(event)" onchange="showPaymentSaveBtn(event)" />
                </div>
            </div>

            <div class="form-group">
                <p class="payment-label">Card Number</p>
                <div class="col-md-10">
                    <input name="CreditCardNo" type="text" class="form-control input-sm payment-input" onkeyup="showPaymentSaveBtn(event)" onchange="showPaymentSaveBtn(event)" />
                </div>
            </div>

            <div class="form-group">
                <p class="payment-label">Card Name</p>
                <div class="col-md-10">
                    <input name="CreditCardName" type="text" class="form-control input-sm payment-input" onkeyup="showPaymentSaveBtn(event)" onchange="showPaymentSaveBtn(event)" />
                </div>
            </div>
        </div>

        <div id="check-group" class="hidden">
            <div class="form-group">
                <p class="payment-label">Check Number</p>
                <div class="col-md-10">
                    <input name="CheckNo" type="text" class="form-control input-sm payment-input" onkeyup="showPaymentSaveBtn(event)" onchange="showPaymentSaveBtn(event)" />
                </div>
            </div>

            <div class="form-group">
                <p class="payment-label">Check Image</p>
                <div class="col-md-10">
                    <input name="CheckImage" type="text" class="form-control input-sm payment-input" onchange="showPaymentSaveBtn(event)" />
                </div>
            </div>

            <div class="form-group">
                <p class="payment-label">Issued By</p>
                <div class="col-md-10">
                    <input name="CheckWriter" type="text" class="form-control input-sm payment-input" onkeyup="showPaymentSaveBtn(event)" onchange="showPaymentSaveBtn(event)" />
                </div>
            </div>
        </div>

        <div class="form-group hidden">
            <p class="payment-label">Receivable Source</p>
            <div class="col-md-10" style="padding-top: 6px">
                <span name="ReceivableSource"></span>
            </div>
        </div>

        <div class="form-group hidden">
            <p class="payment-label">Source Id</p>
            <div class="col-md-10" style="padding-top: 6px">
                <span name="ReceivableSourceId"></span>
            </div>
        </div>

        <div class="form-group hidden">
            <p class="payment-label">Created At</p>
            <div class="col-md-10" style="padding-top: 6px">
                <span name="CreatedAt"></span>
            </div>
        </div>

        <div class="form-group" style="margin: 0; padding: 0">
            <div class="col-md-10">
                @*<input type="button" value="Save" class="btn btn-default btn-sm" />*@
                <button type="button"
                        name="save-payment"
                        class="btn btn-sm btn-default btn-success-text margin-bottom-3 hidden"
                        onclick="saveSubformData(event, route, getPaymentData)">
                    <strong>Save</strong>
                    <span style="margin-left: 5px" class="glyphicon glyphicon-edit"></span>
                </button>
            </div>
        </div>
    </div>
}