body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* ************************************************************************************************************ */
/*                                             CUSTON CSS CLASSES                                               */
/* ************************************************************************************************************ */

/* CUSTOM WARNING TEXT COLOR CLASS FOR <a> TAGS ******** */
.link-text-warning {
    color: #806000 !important;
}
    .link-text-warning:hover {
        color: #cc9900 !important;
    }

.text-primary-force {
    color: #428bca !important;
}

.delete-link-danger {
    color: #ff6666 !important;
}

    .delete-link-danger:hover {
        color: #ff3333 !important;
    }

.btn-danger-text {
    color: #ff6666 !important;
}
    .btn-danger-text:active {
        color: #ff3333 !important;
    }
    .btn-danger-text:hover {
        color: #ff3333 !important;
        font-weight: 500 !important;
    }

.btn-primary-text {
    color: #428bca !important;
}

    .btn-primary-text:active {
        color: #609dd2 !important;
    }

    .btn-primary-text:hover {
        color: #609dd2 !important;
        font-weight: 500 !important;
    }

.btn-success-text {
    color: #5cb85c !important;
}

    .btn-success-text:active {
        color: #71c171 !important;
    }

    .btn-success-text:hover {
        color: #71c171 !important;
        font-weight: 500 !important;
    }

.btn-pill {
    background-color: #428bca;
    border: none;
    color: white;
    padding: 0 6px 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    max-height: 20px;
    border-radius: 20px
}

    .btn-pill:hover {
        background-color: #9cc2e3; /* Green */
    }

    .btn-pill:active {
        background-color: #428bca; /* Green */
    }


/* USE THIS TO CENTER AN <a> OR <img> TAG INSIDE A <div> WITH A CLASS 'CONTAINER-CENTER-VERTICAL' *************************************************************** */
.container-center-vertical {
    position: relative;
}
    .container-center-vertical img, href {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }


/* USE THIS TO STYLE A CHECKBOX INPUT  *************************************************************** */
/* The container */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 23px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default checkbox */
    .checkbox-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

/* Create a custom checkbox (out of a span element) */
.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #d6e4f5;
    border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: #adc9eb;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark (a tiny pseudo element :after rotated) */
.checkbox-container .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}